:root {
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --accent-color: #e03127;
  scroll-behavior: smooth;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: var(--primary-color);
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 1em;
}
section {
  padding: 1.27cm 1em;
}

section:first-child {
  padding-top: 0;
}

section:last-child {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 2em;
  margin-bottom: 0em;
  scroll-margin-top: 1em;
}

h1 {
  font-size: 2rem;
  line-height: 1.1em;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.3em;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  color: var(--accent-color);
}

a:hover {
  color: var(--primary-color);
}

/********
UTILITIES
********/
.container {
  max-width: 21cm;
  margin: 0 auto;
  border-radius: 1em;
  padding: 2.54cm 1em;
}

.flexbox-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-shadow {
  box-shadow: 0 0 1em #33333333;
}

.image {
  width: 100%;
  margin-top: 1em;
  border-radius: 0.5em;
  scroll-margin-top: 1em;
}

.img-caption {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 0.875rem;
  margin: 1em 0;
}

.fourth-wall {
  font-style: italic;
  font-size: 0.875rem;
}

/****************
SPECIFIC ELEMENTS
****************/
#title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.logo {
  width: 300px;
  max-width: 100%;
  margin-bottom: 15vh;
}

.program {
  margin-bottom: 15vh;
}

.table-of-contents ol,
#sources {
  padding-inline-start: 1.75em;
}

.toc-level-1 {
  list-style-type: upper-roman;
}

.toc-level-2 {
  list-style-type: decimal;
}

.toc-level-3 {
  list-style-type: lower-alpha;
}

.toc-h3,
.toc-h4 {
  font-weight: normal;
}

.table-of-images ul {
  list-style: none;
  padding: 0;
}

.table-of-images ul li {
  padding-left: 3.5em;
  text-indent: -3.5em;
}

#define + *,
#design + *,
#develop + * {
  margin-top: 0.5em;
}

.indent {
  padding-inline-start: 1em;
}

.indent-2 {
  padding-inline-start: 3.5em;
}

.indent-2 p {
  margin-top: 0;
}

#sources li {
  word-wrap: break-word;
}

#sources li:not(:first-child) {
  margin-top: 1em;
}

@media (min-width: 40em) {
  :root {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .container {
    padding: 2.54cm;
  }

  .table-of-contents ol,
  #sources {
    padding-inline-start: 2.5em;
  }

  .indent {
    padding-inline-start: 1.2em;
  }

  .indent-2 {
    padding-inline-start: 4em;
  }
}
